<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'delete', feeds_path, method: :delete, data: { confirm: 'do you really want to delete？' } %> |
<%= link_to 'Back', feeds_path %>
